nav {
    position: fixed;
    top: -10px;
    width: fit-content;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 0px 0px 20px 20px;
    padding: 20px 15px 10px 15px;
    display: inline-flex;
    justify-content: center;
    gap: 5px;
    background-color: rgb(163, 151, 137);
}

h1 {
    margin: 70px 0px 30px 0px;
}

button {
    all: unset;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 5px;
}

.navbarButtonIcon {
    width: 30px;
}

.navbarButtonOutline {
    border-radius: 13px;
    background-color: rgb(129, 119, 107);
    padding: 7px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 450;
    background-color: rgb(255, 248, 241);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    white-space: normal;  /* Allows text to wrap */
    word-wrap: break-word; /* Ensures long words break */
    overflow-wrap: break-word;
    padding-bottom: 55px;
}

#betsCont {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.betCont {
    background-color: rgb(218, 209, 200);
    border-radius: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.variationsCont {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.variationCont {
    display: grid;
    grid-template-columns: auto 3rem max-content;
    align-items: center;
    background-color: rgb(189, 181, 170);
    border-radius: 1em;
    padding: 10px;
}

.variationElements {
    min-width: 0;
}

.userBet {
    display: flex;
    width: 3ch;
    text-align: center;
    background-color: rgb(138, 122, 98, 0);
    border: 0;
    padding: 0;
    font-size: 1rem;

}


.addSubtractCont {
    display: flex;
    gap: 5px;
    margin-left: 8px;
}

.betNameCont {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.betName {
    margin: 0;
    flex-shrink: 1;
    word-break: normal;
    overflow-wrap: break-word;
    white-space: normal;
}

@media (max-width: 450px) {
    .label {
        display: none;
    }
}

.variationName {
    flex-shrink: 1;
    word-break: normal;
    overflow-wrap: break-word;
    white-space: normal;
}

img {
    pointer-events: none;
}

.subtractButtonIcon, .addButtonIcon, .editButtonIcon {
    width: 25px;
}

.editButtonIcon {
    border-radius: 9px;
    padding: 6px;
    background-color: rgb(189, 181, 170);
}

aside {
    position: fixed;
    bottom: 0;
    width: fit-content;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 20px 20px 0px 0px;
    padding: 15px 15px 10px 15px;
    gap: 5px;
    background-color: rgb(163, 151, 137);
}

.userBetCont {
    display: flex;
    background-color: rgb(160, 147, 128);
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.variationOdds {
    display: flex;
    justify-content: center;
    padding: 10px;
}
